<%- include ("header"); -%> 

<div class="box">
<h2>This is the about page</h2>

<p>The header, styles, footer are from different files, and EJS lets you use them as layouts, pretty neat, right?</p>
</div>
<%- include("footer"); -%> 